 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$primary: #555;
$accent: darken($primary, 11%);
$accent2: lighten($primary, 18%);


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: HSLA(203, 6%, 90%, 1);
  font-size: 62.5%;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 14em;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0 0 20px 0;
  padding: 2%;
  background-color: black;
  border-radius: 0.2em;
  text-align: center;
  font-size: 1.4em;
  font-family: 'Josefin Slab', serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container {
  @include outer-container;
  $medium: new-breakpoint(max-width 750px 12);
  $mobile: new-breakpoint(max-width 600px 6);
  max-width: 960px;
  width: 100%;
  padding: 0 20px;
  position: relative;

  .player{
    @include span-columns(4.5);

    .life{
      height: 3em;
      background-color: #666666;
      font-weight: bold;
      font-size: 2em;
      color: white;
    }

    .pavatar{
      position: relative; background-color: #0f9d58;
      height: 10em;
      width: 10em;
      border-radius:5em;
      line-height: 10em;  //This helps me center the text
      left: 35%;
      overflow: hidden;
      border: solid .1em black;
    }

    .selector{
        height: 4.5em;
    }
  }  // This closes the player side styling


// This is the button side styline section

  .button_area{
    @include span-columns(3);

    button {
      position: relative;
      top: 100%;
      //left: 50%;
      padding: 4em;
      background: linear-gradient(135deg,  $accent2, #444);
      border: 1.5em solid $accent;
      border-radius: 100%;
      box-shadow: 2px 3px 5px transparentize($accent2, .8);
      outline: none;
      //transform: translate(-50%, -50%);
      .fa {
        font-size: 4.2vw;
        color: $accent;
        transition: all .35s ease;
      }
      &:hover {
        background: linear-gradient(135deg,  #ff2247, #1e3f9f);
        border-color: white;
        & .fa {
          color: white;
          transform: scale(1.1);
        }
      }

    }

  }


// This is the opponent side styling section

  .opponent{
    @include span-columns(4.5);

    .oplife{
      height: 3em;
      background-color: #666666;
      font-weight: bold;
      font-size: 2em;
      color: white;
    }

    .opavatar{
      position: relative;
      //background-color: red;
      height: 10em;
      width: 10em;
      border: solid .1em black;
      border-radius:5em;
      line-height: 10em;  //This helps me center the text
      left: 35%;
      overflow: hidden;
    }

    .opselector{
        height: 4.5em;
    }
  }  // This closes the opponent side style

}
