<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>A12</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/vendor.css">

    <link rel="stylesheet" href="styles/main.css">

    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body>

    <div class="title_box"> This is the title box

    </div>

    <div class = 'welcome_container'>
      <div class = 'player_sel'>this is the player selection side

          <section>
            <p>
              <label for="player">
                <span>Select Your Twink!</span>
                <select required name="player" id="player">
                  <option value="">Please Select</option>
                  <option value="player1">Hair Dresser</option>
                  <option value="player2">Flight Attendant</option>
                  <option value="player3">Server at Joe's</option>
                </select>
              </label>
            </p>
          </section>
      </div>

      <div class = 'welcome_button'>
        <section>
          <p class="btnCon">
            <button id="button">SELECT PLAYERS!</button>
          </p>
        </section>
      </div>

      <div id = 'opselector' class = 'opponent_sel'> This is the opponent selection side
        <section>
          <p>
            <label for="opponent">
              <span>Select Your Bear!</span>
              <select required name="opponent" id="opponent">
                <option value= ''>Please Select</option>
                <option value="opponent1">Bartender</option>
                <option value="opponent2">Lumberjack</option>
                <option value="opponent3">Leather Daddy</option>
              </select>
            </label>
          </p>
        </section>
      </div>
    </div> <!-- This is the closing of the welcome -->


    </div>


    <div class='container'>

      <!-- This section defines the player side -->

      <div class = 'player'>
        <div class ='life'>
          <p class = 'pname'><span class = 'phealth'></span></p>
        </div>
        <div class = 'pavatar'>
        </div>
      </div>

      <!-- This defines the action button -->

      <div class = 'button_area'>
        <button>Button</button>

      </div>

      <!-- This sectioni defines the opponent area -->

      <div class = 'opponent'>
        <div class ='oplife'>
          <p class = 'oname'><span class = 'ohealth'></span></p>
        </div>
        <div class = 'opavatar'> </div>

      </div>

    </div> <!-- This is container closing div -->

    <div class = 'twin'>This is if the twinks win</div>
    <div class = 'bwin'>This is if the bears win</div>

    <script id='player_avatar' type='text/template'><!-- Players life template -->
      <img src='<%= pavatar_img %>'/>
    </script>

    <script id='opponent_avatar' type='text/template'><!-- Players life template -->
      <img src='<%= oavatar_img %>'/>
    </script>


    <script src="scripts/vendor.js"></script>

        <script src="scripts/main.js"></script>
</body>
</html>
